<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower Shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='detail.css') }}">
</head>
<body>
    <header>
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>
        <a href="#" class="logo">Azalea<span>.</span></a>
        <div class="icons">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-shopping-cart"></a>
            <a href="#" class="fas fa-user"></a>
        </div>
    </header>
    <section class="home" id="home">
        <div class="content">
            <h3>Azalea Flower Shop</h3>
            <p>Мы предлагаем вам не просто цветы, а истории: букеты, созданные с любовью и вниманием к каждой детали, чтобы подарить 
                вам моменты нежности и радости.</p>
        </div>
    </section>
    <div class="container">
        <div class="flower-detail">
            <img src="{{ url_for('static', filename=flower[5]) }}" alt="{{ flower[1] }}">
            <h2 class="text">{{ flower[1] }}</h2>
            <p class="info">Description: {{ flower[2] }}</p>
            <p class="info_2">Price: {{ flower[3] }}</p>
        </div>
        <div>
            <a class="button" href="{{ url_for('index') }}">Back to Home</a>
        </div>
    </div>
    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>Extra links</h3>
                <a href="https://www.tiktok.com/@luwqrs?_r=1&_d=ec5aie99kg7ad5&sec_uid=MS4wLjABAAAARj5TZGUxIrsHKRXOTy8AxKxr7uKRDXub54I1QSUytuYss3JElE5DzPDFpDybnKgo&share_author_id=6821483699532989445&sharer_language=ru&source=h5_m&u_code=dc67fkldhdglji&timestamp=1716540629&user_id=6821483699532989445&sec_user_id=MS4wLjABAAAARj5TZGUxIrsHKRXOTy8AxKxr7uKRDXub54I1QSUytuYss3JElE5DzPDFpDybnKgo&utm_source=copy&utm_campaign=client_share&utm_medium=android&share_iid=7370532129644644114&share_link_id=75121d05-ccfb-40f7-aba3-4e08179120e0&share_app_id=1233&ugbiz_name=ACCOUNT&ug_btm=b8727%2Cb0229&social_share_type=5&enable_checksum=1">tiktok</a>
                <a href="https://pin.it/6bqyfEGUF">pinterest</a>
                <a href="https://www.instagram.com/luwqrs?igsh=NXZuaGQzMGx0MHZw">instagram</a>
                <a href="https://t.me/lugws">telegram</a>
            </div>
            <div class="box">
                <h3>contact info</h3>
                <a href="#">+996997060209</a>
                <a href="#">raianamanasova@mail.ru</a>
                <a href="#">kyrgyzstan - Bishkek</a>
           
            </div>
        </div>    
</body>
</html>