<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower Shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!--Header section starts-->
    <header>
        <input type="checkbox" name="" id="toggler">
        <label for="toggler" class="fas fa-bars"></label>
        <a href="#" class="logo">Azalea<span>.</span></a>
        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#products">Products</a>
            <a href="#contact">Contact</a>
        </nav>
        <div class="icons">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-shopping-cart"></a>
            <a href="#" class="fas fa-user"></a>
            
        </div>
    </header>
     <!--Header section ends-->
    <section class="home" id="home">
        <div class="content">
            <h3>Azalea Flower Shop</h3>
            <span>Добро пожаловать в Azalea</span>
            <p>Мы предлагаем вам не просто цветы, а истории: букеты, созданные с любовью и вниманием к каждой детали, чтобы подарить 
                вам моменты нежности и радости.</p>
            <a href="#products" class="btn"> Shop Now</a>
        </div>
     </section>
      <!--About section starts-->
<section class="about" id="about">
    <h1 class="heading"><span>about</span> us</h1>
    <div class="row">
        <div class="img-container">
            <img src="https://wallpapers.com/images/hd/pink-flowers-aesthetic-roses-on-table-o32hhdjxnopknn2r.jpg"/>
            <h3>best flowers sellers</h3>
        </div>
        <div class="content">
            <h3>Почему именно мы?</h3>
            <p>Выбирая наш цветочный магазин, вы выбираете качество, индивидуальный подход и красоту в каждом цветке. Наш ассортимент включает в себя широкий выбор цветов – от изысканных роз до веселых гербер, 
                от классических тюльпанов до экзотических орхидей.  </p>
            <p>Доверьте нам свои цветочные желания, и мы сделаем их реальностью!</p>
        </div>
    </div>
</section>

  <!--About section ends-->
  <!--Products section stars-->
<main>
    <section class="products" id="products"></section>
        <div class="container">
        {% for flower in flowers %}
            <div class="card">
            <img src="{{ url_for('static', filename=flower[5]) }}" alt="{{ flower[1] }}" >
            <h2>{{ flower[1] }}</h2>
            <p>Price: {{ flower[3] }}</p>
            <a class="button" href="{{ url_for('flower_detail', flower_id=flower[0]) }}">Подробнее</a>
            </div>
        {% endfor %}
        </div>
    </section>
</main>
    <!--footer section starts-->
<section class="footer" id="contact">
    <div class="box-container">
        <div class="box">
            <h3>Extra links</h3>
            <a href="https://www.tiktok.com/@luwqrs?_r=1&_d=ec5aie99kg7ad5&sec_uid=MS4wLjABAAAARj5TZGUxIrsHKRXOTy8AxKxr7uKRDXub54I1QSUytuYss3JElE5DzPDFpDybnKgo&share_author_id=6821483699532989445&sharer_language=ru&source=h5_m&u_code=dc67fkldhdglji&timestamp=1716540629&user_id=6821483699532989445&sec_user_id=MS4wLjABAAAARj5TZGUxIrsHKRXOTy8AxKxr7uKRDXub54I1QSUytuYss3JElE5DzPDFpDybnKgo&utm_source=copy&utm_campaign=client_share&utm_medium=android&share_iid=7370532129644644114&share_link_id=75121d05-ccfb-40f7-aba3-4e08179120e0&share_app_id=1233&ugbiz_name=ACCOUNT&ug_btm=b8727%2Cb0229&social_share_type=5&enable_checksum=1">tiktok</a>
            <a href="https://pin.it/6bqyfEGUF">pinterest</a>
            <a href="https://www.instagram.com/luwqrs?igsh=NXZuaGQzMGx0MHZw">instagram</a>
            <a href="https://t.me/lugws">telegram</a>
        </div>
        <div class="box">
            <h3>contact info</h3>
            <a href="#">+996997060209</a>
            <a href="#">raianamanasova@mail.ru</a>
            <a href="#">kyrgyzstan - Bishkek</a>
       
        </div>
    </div>

<!--footer section ends-->
</body>
</html>