<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flower Shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Azalea Flower Shop</h1>
        <p>Добро пожаловать в Azalea – уникальный магазин, где каждый цветок несет в себе частичку волшебства. </br>
            Мы предлагаем вам не просто цветы, а истории: букеты, созданные с любовью и вниманием к каждой детали, чтобы подарить 
            вам моменты нежности и радости.</br> Наш ассортимент включает в себя широкий выбор цветов – от изысканных роз до веселых гербер, 
            от классических тюльпанов до экзотических орхидей. </p>
    </header>
    <div class="container">
        {% for flower in flowers %}
            <div class="card">
                <img src="{{ url_for('static', filename=flower[5]) }}" alt="{{ flower[1] }}" >
                <h2>{{ flower[1] }}</h2>
                <p>Price: {{ flower[3] }}</p>
                <a class="button" href="{{ url_for('flower_detail', flower_id=flower[0]) }}">Подробнее</a>
            </div>
        {% endfor %}
    </div>
    <footer>
        <p>Соц.сети: Tiktok - ****, Telegram - ****, Instagram - ****, Pinterest - ****</p>
    </footer>
</body>
</html>
