/* admin-panel.css */

/* Применить стили к форме добавления */
form[action="/admin"] {
    margin-bottom: 20px;
}

form[action="/admin"] input[type="text"],
form[action="/admin"] input[type="hidden"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form[action="/admin"] button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

form[action="/admin"] button[type="submit"]:hover {
    background-color: #555;
}

/* Применить стили к списку для редактирования и удаления */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
}

li form {
    display: flex;
}

li form button[type="submit"] {
    margin-left: 10px;
    background-color: #dd3333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

li form button[type="submit"]:hover {
    background-color: #ff5555;
}
