

.logo {
    width: 85px;
    height: 80px;
   
}

header {
    background-image: url("https://images.squarespace-cdn.com/content/v1/603555d62da78c035512f604/7a4e1b04-b51a-4060-81b7-2b64dc69ce1c/Azalea.jpg");
    background-size: cover; 
    color: white;
    padding: 20px; 
    width: auto;
    height: auto;
}

header p {
    text-align: center;
    font-size: 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-family: "Courier New";
}

header h1 {
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-family: "Arial";
}

.card {
    background-color: white;
    padding: 15px 15px 20px 20px;
    width: 400px;
    margin: 20px;
    display: inline-block;
}

.card h2 {
    text-align: center;
    font-size: 20px;
    font-family:'Segoe UI';
}

.button {
    text-decoration: none;
    background-color: #92b694;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

.card img {
    width: 400px;
    height: 300px;
}

footer {
    background-color: #92b694;
    padding: 10px;
}

footer p {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-family: "Courier New";
}