
header {
    background-image: url("https://images.squarespace-cdn.com/content/v1/603555d62da78c035512f604/7a4e1b04-b51a-4060-81b7-2b64dc69ce1c/Azalea.jpg");
    background-size: cover; 
    color: white;
    padding: 20px; 
    width: auto;
    height: auto;
}

header p {
    text-align: center;
    font-size: 15px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-family: "Courier New";
}

header h1 {
    text-align: center;
    font-size: 25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-family: "Arial";
}

.container {
    align-items: center;
    justify-content: space-between;
}

.card {
    border: 3px solid #92b694;
    border-radius: 5px;
    background-color: white;
    width: 300px;
    height: 300px;
    margin: 20px;
    display: inline-block;
    margin: 30px 60px 20px 60px
}



.card h2 {
    margin: 15px;
    text-align: center;
    font-size: 20px;
    font-family:'Segoe UI';
}

.button {
    text-decoration: none;
    background-color: #92b694;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

.button:hover {
    text-shadow: 1px 1px 1px black;
}

.card img {
    width: 100%;
    height: auto;
}

footer {
    margin-top: 20px;
    background-color: #92b694;
    padding: 10px;
}

footer p {
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-family: "Courier New";
}